header {
  z-index: 10001 !important;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#__react-alert__ div div div {
  width: auto !important;
  font-size: small;
  font-style: italic;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  background-color: rgb(228, 236, 239);
  list-style: none;
  border: 1px solid rgba(206, 197, 197, 0.774);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.2vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font-size: 1vmax;
  color: rgb(12, 6, 6);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(16, 16, 16);
}

.pageItemActive {
  background-color: orangered;
}

.pageLinkActive {
  color: white;
}
.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 100%;
  background-color: white;
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 3vmax;
  margin-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
  width: 10vmax;
  border-radius: 100%;
  transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: rgba(234, 114, 92, 0.989);
  font-size: 1.2vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font-size: 2vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1.5vmax cursive;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgba(232, 74, 46, 0.989);
  font-size: 1.2vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  width: 50%;
  border-radius: 5px;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: #d94e28;
}
.cartHeader,
.cartContainer {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
.cartGross {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}
@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
    margin-top: 50px;
  }
  .profileContainer > div:first-child > h1 {
    font-size: 4vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    transform: translateY(-2vmax);
    margin-top: 40px;
  }
  .profileContainer > div:first-child > a {
    font-size: 2vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    bottom: 50px;
    position: relative;
    align-items: center;
  }
  .profileContainer > div:last-child > div > h4 {
    font-size: 3vmax;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font-size: 1.8vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 1vmax;

    width: 100%;
    margin: 2vmax 0;
  }
  .cartHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartPage {
    min-height: 60vh;
  }
  .cartContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartInput {
    height: 20vmax;
  }

  .cartInput > button {
    align-items: center;
    width: 5vmax;
    height: 5vmax;
  }

  .cartInput > input {
    width: 5vmax;
    height: 5vmax;
    padding: 2vmax;
    font-size: 2vmax;
  }
  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font-size: 2.2vmax;
  }
  .cartGross {
    display: grid;
    grid-template-columns: 0fr 1.2fr;
    }

  .CartItemCard {
    padding: 1vmax;
    height: 25vmax;
    margin-top: 3vmax;
  }
  .CartItemCard > img {
    width: 12vmax;
    height: 10vmax;
    margin-top: 2vmax;
  }

  .CartItemCard > div {
    margin: 1vmax 1vmax;
  }

  .CartItemCard > div > a {
    font-size: 2.2vmax;
  }

  .CartItemCard > div > span {
    font-size: 2.2vmax;
    font-weight: 400;
  }

  .CartItemCard > div > p {
    font-size: 1.8vmax;
    font-weight: 500;
  }
}


